whisperx @ git+https://github.com/m-bain/whisperx.git
numpy==1.26.4
pydantic
python-dotenv
Requests
starlette
uvicorn
Werkzeug
fastapi
# ctranslate2 requires CUDNN v8 but the default pytorch one is v9.1
nvidia-cudnn-cu12==8.9.2.26 # this specific version is required for dependency resolution
# pip3 install "torch>=2+cpu" "torchaudio>=2+cpu" -f https://download.pytorch.org/whl/torch_stable.html
